.link-wrapper{
    display: grid;
    padding-bottom:1rem;
}
.link-website{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1.5rem;
    gap:1rem;
    width: fit-content;
    background-color: #df92923b;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    box-shadow: 2px 2px darkgrey;
}
.website-icon-link{
    display: flex;
    gap:1rem;
    align-items: center;
}
.link-others-wrapper{
    display: flex;
    justify-content: flex-end;
    /* padding:1rem; */
}
.link-others {
    display: flex;
    justify-content: flex-end;
    gap: 20rem;
    width: fit-content;
    background-color: white;
    padding:1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px darkgrey;
    background-color: #df92923b;

}
.left, .right{
    display: grid;
}
.left-link-github, .left-link-netlify, .right-link-upwork{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding-bottom: 1rem;
    gap:1rem;
}
.github-icon, .netlify-icon, .upwork-icon{
    width:2rem;
}
.website-icon{
    width:2rem;
}

.website-head {
    font-weight: 600;
}