.projects-wrapper{
    display: grid;
    padding-bottom:1rem;
}
.project-head-wrapper{
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    font-weight: 700;
    gap:1rem;
    width: fit-content;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}
.projects-wrapper{
    display: grid;
}
.project-head{
    padding:2rem;
    font-size:1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}
.project-detail-wrapper{
    display:flex;
    justify-content: space-around;
}
.project-icon{
    width:2rem;
}
.language-icon{
    width:1rem;
}
.project-language{
    display: grid;
    gap:1rem;
}
.project-language-description{
    display: flex;
    gap:1rem;
}
.project-features{
    display: grid;
    justify-content: flex-start;
    text-align:start;
}