

.Skill-wrapper {
    margin-bottom: 2rem;
}
.projects-wrapper{
    display: grid;
    padding-bottom:1rem;
}
.project-main-head-wrapper{
    display: flex;
    justify-content: flex-start;
    padding:1rem;
    width:fit-content;
    background-color: white;
    border-radius: 1rem;
    gap:1rem;
    font-weight: 600;
    box-shadow: 2px 2px darkgrey;
    background-color: #df92923b;
}
.projects-wrapper{
    display: grid;
}
.project-wrapper {
    margin-bottom: 1rem;
}
.project-head-wrapper{
    display:flex;
    justify-content: flex-end;
    margin: 1rem;
}
.project-head{
    padding:2rem;
    font-size:1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px darkgrey;
    background-color: #df92923b;
}
.project-detail-wrapper {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: fit-content;
    gap: 15rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px darkgrey;
    background-color: #df92923b;
}
.project-icon{
    width:2rem;
}
.language-icon{
    width:1rem;
}
.project-language{
    display: grid;
    gap:1rem;
}
.project-language-description{
    display: flex;
    gap:1rem;
}
.project-features{
    display: grid;
    justify-content: flex-start;
    text-align:start;
}